<div class="dashboard-container">
  <div class="banner">
    <h1>Welcome to your Gym Tracker!</h1>
  </div>
  @if (activeWorkout) { @if (!inWorkout) {
  <div class="active-workout-card card">
    <h2>Active Workout: {{ activeWorkout.title }}</h2>
    <p>Description: {{ activeWorkout.description }}</p>
  </div>
  <div class="workout-day-list card">
    <div class="workout-day-header">
      <h2>Today is {{ currentDay }}. {{ workoutDayHeader }}</h2>
      @if (!workoutCompleted && todaysExercises.length != 0) {
      <div>
        <button class="btn btn-start" (click)="startWorkout()">
          Start Workout
        </button>
      </div>
      } @else if (workoutCompleted){
      <p class="workout-completed">Workout Completed!</p>
      }
    </div>
    @if (todaysExercises.length != 0) {
    <ul class="exercise-list">
      @for (exercise of todaysExercises; track exercise) {
      <li class="exercise-item card">
        <strong>{{ exercise.name }}</strong>
        <p>Sets: {{ exercise.sets }}</p>
        <p>Reps: {{ exercise.reps }} reps</p>
        @if (exercise.weight) {
        <span>Weight: {{ exercise.weight }} lbs</span>
        }
      </li>
      }
    </ul>
    }
  </div>
  } @if (inWorkout && todaysExercises.length) {
  <div class="exercise-item card">
    <h2>
      Exercise {{ currentExerciseIndex + 1 }} of {{ todaysExercises.length }}
    </h2>
    <strong>{{ todaysExercises[currentExerciseIndex].name }}</strong>
    <p>Sets: {{ todaysExercises[currentExerciseIndex].sets }}</p>
    <p>Reps: {{ todaysExercises[currentExerciseIndex].reps }}</p>
    <p>
      Recommended Weight:
      {{ todaysExercises[currentExerciseIndex].weight }} lbs
    </p>
    @if (todaysExercises[currentExerciseIndex].notes) {
    <p>Notes: {{ todaysExercises[currentExerciseIndex].notes }}</p>
    }
  </div>
  <div class="exercise-progress-form">
    <h3>Log Your Progress</h3>
    <form [formGroup]="exerciseProgressForm" (ngSubmit)="onSubmit()">
      <div formArrayName="sets">
        @for (setGroup of sets.controls; track setGroup; let j = $index) {
        <div [formGroupName]="j">
          <div class="form-inputs">
            <label>Set {{ j + 1 }}:</label>
            <label>
              Reps:
              <input
                type="number"
                formControlName="reps"
                placeholder="Reps completed"
                min="0"
                required
              />
            </label>
            <label>
              Weight (lbs):
              <input
                type="number"
                formControlName="weight"
                placeholder="Weight used"
                min="0"
                required
              />
            </label>
            <label>
              Notes:
              <input type="text" formControlName="notes" placeholder="Notes" />
            </label>
          </div>
        </div>
        }
      </div>
      @if (currentExerciseIndex < todaysExercises.length - 1) {
      <div class="buttons">
        <button class="btn-cancel" (click)="confirmCancelWorkout()">
          Cancel Workout
        </button>
        <button
          type="button"
          [disabled]="exerciseProgressForm.invalid"
          (click)="onNextExercise()"
          class="btn btn-next"
        >
          Next Exercise
        </button>
      </div>
      } @if (currentExerciseIndex === todaysExercises.length - 1) {
      <button type="button" (click)="onFinishWorkout()" class="btn btn-finish">
        Finish Workout
      </button>
      }
    </form>
  </div>
  } } @else {
  <div class="no-active-message">
    <p>No active workout selected. Go to your workout plans to activate one!</p>
  </div>
  }
</div>
