<div class="dashboard-container">
  @if (activeWorkout) { @if (!inWorkout) {
  <div class="banner">
    <h1>Welcome to your Gym Tracker!</h1>
  </div>
  <div class="active-workout-card card">
    <h2>Active Workout: {{ activeWorkout.title }}</h2>
    <p>Description: {{ activeWorkout.description }}</p>
  </div>
  <div class="workout-day-list card">
    <div class="workout-day-header">
      <h2>Today is {{ currentDay }}. This is your routine for the day:</h2>
      @if (!workoutCompleted) {
      <div>
        <button class="btn btn-start" (click)="startWorkout()">
          Start Workout
        </button>
      </div>
      } @else {
      <p class="workout-completed">Workout Completed!</p>
      }
    </div>
    <ul class="exercise-list">
      @for (exercise of todaysExercises; track exercise) {
      <li class="exercise-item card">
        <strong>{{ exercise.name }}</strong>
        <p>Sets: {{ exercise.sets }}</p>
        <p>Reps: {{ exercise.reps }} reps</p>
        @if (exercise.weight) {
        <span>Weight: {{ exercise.weight }} lbs</span>
        } @if (exercise.notes) {
        <p>{{ exercise.notes }}</p>
        }
      </li>
      }
    </ul>
  </div>
  } @if (inWorkout && todaysExercises.length) {
  <div class="exercise-item card">
    <h2>
      Exercise {{ currentExerciseIndex + 1 }} of {{ todaysExercises.length }}
    </h2>
    <strong>{{ todaysExercises[currentExerciseIndex].name }}</strong>
    <p>Sets: {{ todaysExercises[currentExerciseIndex].sets }}</p>
    <p>Reps: {{ todaysExercises[currentExerciseIndex].reps }}</p>
    <p>
      Recommended Weight:
      {{ todaysExercises[currentExerciseIndex].weight }} lbs
    </p>
  </div>
  <div class="exercise-progress-form">
    <h3>Log Your Progress</h3>
    <form [formGroup]="exerciseProgressForm" (ngSubmit)="onSubmit()">
      <div formArrayName="sets">
        @for (setGroup of sets.controls; track setGroup; let j = $index) {
        <div [formGroupName]="j">
          <div class="form-inputs">
            <label>Set {{ j + 1 }}:</label>
            <label>
              Reps:
              <input
                type="number"
                formControlName="reps"
                placeholder="Reps completed"
                min="0"
                required
              />
            </label>
            <label>
              Weight (lbs):
              <input
                type="number"
                formControlName="weight"
                placeholder="Weight used"
                min="0"
                required
              />
            </label>
            <label>
              Notes:
              <input type="text" formControlName="notes" placeholder="Notes" />
            </label>
          </div>
        </div>
        }
      </div>
      @if (currentExerciseIndex < todaysExercises.length - 1) {
      <button
        type="button"
        [disabled]="exerciseProgressForm.invalid"
        (click)="onNextExercise()"
        class="btn btn-next"
      >
        Next Exercise
      </button>
      } @if (currentExerciseIndex === todaysExercises.length - 1) {
      <button type="button" (click)="onFinishWorkout()" class="btn btn-finish">
        Finish Workout
      </button>
      }
    </form>
  </div>
  } } @else {
  <div class="no-active-message">
    <p>No active workout selected. Go to your workout plans to activate one!</p>
  </div>
  }
</div>

<!-- <div class="container">
  <div class="banner">
    <h1>Welcome to your Gym Tracker!</h1>
  </div>

  <div class="active-workout-card card">
    <h2>Active Workout: Push Day</h2>
    <p>Description: Upper body strength focus</p>
  </div>

  <div class="workout-day-list card">
    <div class="workout-day-header">
      <h2>Today is Monday. This is your routine for the day:</h2>
      <button class="btn btn-start">Start Workout</button>
    </div>
    <ul class="exercise-list">
      <li class="exercise-item card">
        <strong>Bench Press</strong>
        <p>Sets: 4</p>
        <p>Reps: 8</p>
        <p>Weight: 135 lbs</p>
      </li>
      <li class="exercise-item card">
        <strong>Overhead Press</strong>
        <p>Sets: 3</p>
        <p>Reps: 10</p>
        <p>Weight: 95 lbs</p>
      </li>
    </ul>
  </div>
</div> -->
