<div class="form">
  <h2>{{ formHeading }}</h2>
  <form [formGroup]="workoutForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Plan Name</label>
      <input
        id="name"
        formControlName="name"
        placeholder="(Eg. Push-Pull-Leg Split)"
        required
      />
      @if (workoutForm.get('name')?.invalid && workoutForm.get('name')?.touched)
      { @if (workoutForm.get('name')?.hasError('required')) {
      <span class="error">Workout name is required.</span>
      } @if(workoutForm.get('name')?.hasError('minlength')) {
      <span class="error"
        >Workout name must be at least 5 characters long.</span
      >
      } @if(workoutForm.get('name')?.hasError('maxlength')) {
      <span class="error">Workout name cannot exceed 50 characters.</span>
      } }
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <textarea
        id="description"
        formControlName="description"
        required
      ></textarea>
      @if (workoutForm.get('description')?.invalid &&
      workoutForm.get('description')?.touched) { @if
      (workoutForm.get('description')?.hasError('required')) {
      <span class="error">Description is required.</span>
      } @if (workoutForm.get('description')?.hasError('minlength')) {
      <span class="error"
        >Description must be at least 10 characters long.</span
      >
      } @if (workoutForm.get('description')?.hasError('maxlength')) {
      <span class="error">Description cannot exceed 200 characters.</span>
      } }
    </div>
    <!-- Checkbox of the days user will workout -->
    <div class="form-group">
      <label for="days">Days of the Week</label>
      <div class="form-group-days">
        @for (day of daysOrder; track day) {
        <div>
          <input
            type="checkbox"
            [value]="day"
            [checked]="(workoutForm.value.days ?? []).includes(day)"
            (change)="onDayChange($event)"
          />
          <span>{{ day }}</span>
        </div>
        }
      </div>
      @if (workoutForm.get('days')?.invalid && workoutForm.get('days')?.touched)
      {
      <span class="error">Please select at least one day.</span>
      }
    </div>

    <!-- Validate and Submit -->
    <div class="form-group buttons">
      <button type="submit" [disabled]="workoutForm.invalid">
        {{ submitFormText }}
      </button>
      @if (editMode == true) {
      <button class="cancel" (click)="cancel()">Cancel Edit</button>
      } @else {
      <button class="cancel" (click)="cancel()">Cancel Workout</button>
      } @if (errorMessage) {
      <div class="error">
        {{ errorMessage }}
      </div>
      } @if (successMessage) {
      <div class="success">
        {{ successMessage }}
      </div>
      }
    </div>
  </form>
</div>
