.chart-flex-container {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-top: 25px;
}

.chart-container {
  width: 600px;
  max-width: 100%;
  min-width: 250px;
  background: #fff;
  padding: 1rem;
  border-radius: 8px;
}
