<!-- Display exercise chart -->
<div class="exercise-chart" *ngIf="chartDataList.length > 0">
  <div class="chart-header">
    <!-- <h2>{{ exerciseProgress[0].name || "Exercise Progress" }}</h2> -->
  </div>
  <div class="chart-flex-container">
    <div class="chart-container">
      <canvas
        baseChart
        [data]="chartDataList[0]"
        [options]="chartOptions"
        [type]="chartType"
        [legend]="true"
      ></canvas>
    </div>
    <div class="chart-container">
      <canvas
        baseChart
        [data]="maxWeightChartDataList[0]"
        [options]="maxWeightChartOptions"
        [type]="chartType"
        [legend]="true"
      ></canvas>
    </div>
  </div>
</div>

<div *ngIf="chartDataList.length === 0">
  <p>No progress data available for this exercise.</p>
</div>
