@if (exerciseHasProgress) {
<div class="exercise-chart">
  <div class="chart-header">
    <h2>{{ exerciseProgress[0].name || "Exercise Progress" }}</h2>
  </div>

  <div class="chart-flex-container">
    <div class="chart-container">
      <h3 class="chart-title">Total Volume</h3>
      <canvas
        baseChart
        [data]="chartDataList[0]"
        [options]="chartOptions"
        [type]="chartType"
        [legend]="true"
      ></canvas>
    </div>

    <div class="chart-container">
      <h3 class="chart-title">Max Weight</h3>
      <canvas
        baseChart
        [data]="maxWeightChartDataList[0]"
        [options]="maxWeightChartOptions"
        [type]="chartType"
        [legend]="true"
      ></canvas>
    </div>
  </div>
</div>
} @else {
<div class="no-data-message">
  <p>No progress data available for this exercise.</p>
</div>
}
