<div class="workout-list">
     <h2>Your Workouts</h2>
     <a routerLink="new" class="btn btn-primary">Create New Workout</a>
     <ul>
       <li *ngFor="let workout of userWorkouts">
         <h3>{{ workout.name }}</h3>
         <p>{{ workout.description }}</p>
         <button
           *ngFor="let day of workout.days"
           class="day-button"
           (click)="openExerciseForm(workout, day)">
           {{ day }}
         </button>
       </li>
     </ul>
   
     <div *ngIf="selectedRoutine && selectedDay" class="exercise-form">
       <h4>Add Exercise for {{ selectedRoutine.name }} on {{ selectedDay }}</h4>
       <form (ngSubmit)="addExercise()">
         <input type="text" [(ngModel)]="exerciseName" name="exerciseName" placeholder="Exercise name" required />
         <button type="submit">Add Exercise</button>
         <button type="button" (click)="cancelExercise()">Cancel</button>
       </form>
     </div>
   </div>